.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
Doctor-Alert_V*.md
Doctor Alert_V*.md
Doctor-Alert_analyse.md
Lumo_V*.md
Lumo_analyse.md
log.md
aantekeningen.md
